.table {
  width: 100%;
  min-height: 100vh;
  background: #ffffff;
  padding: 24px;
  box-sizing: border-box;
}
.table-header {
  background-color: white;

  padding: 16px 24px;
  margin-bottom: 12px;
  border: 1px solid rgba(0, 0, 0, 0.03);

  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
}
.table-content {
  background: #ffffff;
  padding: 20px 32px;

  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
}
.table-filter {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
}
.filter-button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
